<div>
	<div class="menuManager-source">
		<h2>Source items</h2>
		<div class="dd dd-clonesource dd-nodrop nestSource">
			<ol class="dd-list">
			<% for (key in menuTypes) { %>
				<li class="dd-item dd-nochildren" data-id="<%= key %>">
					<div class="dd3-config"><span class="fi-pencil"></span></div>
					<div class="dd-handle dd3-content"><%= menuTypes[key] %></div>
				</li>
			<% } %>
			</ol>
		</div>
	</div>

	<div class="menuManager-target">
		<h2>Menu</h2>
		<div class="dd nestMenu">
			<% print_element('chimera/menu/sub_nestable', {items: items}); %>
		</div>
	</div>
</div>