<%
expands('layouts/admin_main');

start('chimera-page-title'); -%>
<div class="adminActionHead">
	<span class="title" id="mainTitle">Menu Manager</span>
	<div class="actions paginate-actions">
		<% chimera.actions(['record', 'paginate']) %>
	</div>
	<div class="clear"></div>
</div>
<% end('chimera-page-title');

start(store('chimera-view-setting').contentblock) %>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Menu
		</div>
	</div>
	<div class="panel-body">
		<% menu.nestable(); %>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Available items
		</div>
	</div>
	<div class="panel-body">
		<% menu.nestableSource(); %>
	</div>
</div>

<div id="tempeditor">
<div class="modal fade" id="myMenuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			
			<div class="modal-body">
				<% assign('tempeditor') %>
			</div>
			<div class="modal-footer">

			</div>
		</div>
	</div>
</div>

<script>
$('#nestable-menu-editor .dd3-config').click(function(e) {
	var $this = $(this),
	    $li   = $this.parents('li'),
	    id    = $li.attr('data-id'),
	    url   = <% echo(JSON.stringify(pieceUrl)) %>;

	url = hawkejs.fillParam(url, {pieceid: id});

	// Call up the configure url
	hawkejs.goToAjaxView(url, undefined, undefined, function(payload){
		console.log('Loaded & rendered menu piece config url')
	});

});

// Show a modal when menu piece config data is loaded
hawkejs.event.on({create: 'block', name: 'tempeditor'}, function(identifier, data) {
	$('#tempeditor div.modal').modal();
});
</script>
<% end(store('chimera-view-setting').contentblock) %>