<%
expands('layouts/admin_main');

start('chimera-page-title'); -%>
<div class="adminActionHead">
	<span class="title" id="mainTitle">Menu Manager</span>
	<div class="actions paginate-actions">
		<% chimera.actions(['record', 'paginate']) %>
	</div>
	<div class="clear"></div>
</div>
<% end('chimera-page-title');

start(store('chimera-view-setting').contentblock) %>

<div class="row menu-manager">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					Available items
				</div>
			</div>
			<div class="panel-body">
				<% menu.nestableSource(); %>
			</div>
		</div>
	</div>

	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					Menu
				</div>
			</div>
			<div class="panel-body">
				<% menu.nestable(); %>
			</div>
		</div>
	</div>
</div>

<div id="tempeditor">
<div class="modal fade" id="myMenuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			
			<div class="modal-body">
				<% assign('tempeditor') %>
			</div>
			<div class="modal-footer">

			</div>
		</div>
	</div>
</div>

<script>
(function() {

var baseUrl = <% echo(JSON.stringify(pieceUrl)) %>,
    menuId  = <% echo(JSON.stringify(menuId)) %>,
    $editor = $('#nestable-menu-editor');

$editor.on('click', '.dd3-config', function(e) {

	var $this = $(this),
	    $li   = $this.parents('li'),
	    id    = $li.attr('data-id'),
	    url;

	url = hawkejs.fillParam(baseUrl, {pieceid: id});

	// Call up the configure url
	hawkejs.goToAjaxView(url, undefined, undefined, function(payload){
		console.log('Loaded & rendered menu piece config url')
	});
});

$editor.on('click', '.action-trash-o', function(e) {

	var $this = $(this),
	    $li   = $this.parents('li'),
	    id    = $li.attr('data-id'),
	    url;

	url = hawkejs.fillParam(baseUrl, {pieceid: id});
	
	$.post(url, {'delete': true}, function(result) {

		if (!result.pieceErr) {
			$li.remove();
		}
	});
});


// Show a modal when menu piece config data is loaded
hawkejs.event.on({create: 'block', name: 'tempeditor'}, function(identifier, data) {
	$('#tempeditor div.modal').modal();
});

/**
 * Convert a nestable source data tree into a simple list
 *
 * @author   Jelle De Loecker   <jelle@codedor.be>
 * @since    0.0.1
 * @version  0.0.1
 *
 * @param    {Array}   items
 * @param    {Object}  children
 * @param    {String}  parent_id
 */
function detree(items, children, parent_id) {

	var item,
	    i;

	for (i = 0; i < children.length; i++) {

		item = children[i];

		if (parent_id) {
			item.parent = parent_id;
		}

		items.push(item);

		if (item.children) {
			detree(items, item.children, item.id);
		}

		delete item.children;
	}
}

hawkejs.event.on('menu-manager-drop', function(identifier, item) {

	var url   = hawkejs.fillParam(baseUrl, {pieceid: item.sourceId}),
	    data  = {},
	    items = [],
	    piece,
	    tree,
	    i;

	tree = $(item.destRoot).nestable('serialize');
	detree(items, tree);

	for (i = 0; i < items.length; i++) {

		piece = items[i];
		url = hawkejs.fillParam(baseUrl, {pieceid: piece.id});

		data.ModelEditorField = {
			order: items.length - i
		};

		if (piece.parent) {
			data.ModelEditorField.parent = piece.parent;
		} else {
			data.ModelEditorField.parent = null;
		}

		if (String(piece.id).isObjectId()) {
			// @todo: save them all in one request, not piece by piece
			$.post(url, {data: data});
		} else {

			hawkejs.goToAjaxView(url, undefined, {menuId: menuId, create: true, data: data}, function(payload) {

				var $item = $(item.sourceEl);

				url = hawkejs.fillParam(baseUrl, {pieceid: payload.piece._id});
				$('#MenuPieceAddForm').attr('action', url);

				$item.data('id', payload.piece._id);
				$('.dd3-content', $item).html(payload.pieceTitle);
			});
		}
	}

});
}());
</script>
<% end(store('chimera-view-setting').contentblock) %>