<%
expands('layouts/admin_main');

start('chimera-page-title'); -%>
<div class="adminActionHead">
	<span class="title" id="mainTitle">Menu Manager</span>
	<div class="actions paginate-actions">
		<% chimera.actions(['record', 'paginate']) %>
	</div>
	<div class="clear"></div>
</div>
<% end('chimera-page-title');

start(store('chimera-view-setting').contentblock) %>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Menu
		</div>
	</div>
	<div class="panel-body">
		<% menu.nestable(); %>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Available items
		</div>
	</div>
	<div class="panel-body">
		<% menu.nestableSource(); %>
	</div>
</div>

<div id="tempeditor">
<% assign('tempeditor') %>
</div>

<script>
$('#nestable-menu-editor .dd3-config').click(function(e) {
	var $this = $(this),
        $li   = $this.parents('li'),
        id    = $li.attr('data-id'),
        url   = <% echo(JSON.stringify(pieceUrl)) %>;

    url = hawkejs.fillParam(url, {pieceid: id});

    // Call up the configure url
    hawkejs.goToAjaxView(url, undefined, undefined, function(payload){
    	console.log('Loaded & rendered menu piece config url')
    });

});
</script>
<% end(store('chimera-view-setting').contentblock) %>