<ul class="menu-list">
	<% for (i = 0; i < menu.items.length; i++) { %>
		<% item = menu.items[i] %>
		<li class="menu-element">
			<% add_link(item.settings.url, {title: item.settings.title}) %>
			<% if (item.children) { %>
				<% print_element('menu/list', {wrap: false, items: item.children}) %>
			<% } %>
		</li>
	<% } %>
</ul>